ul {
  list-style: none;
  display: inline-flex;
  padding-left: 0;

  li {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  width: 4em;
  height: 4em;
  }
}

.alert {
  position: absolute;
  top: 65px;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.deactivated {
  opacity: 0.5;
}

.ball-container {
  position: absolute;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    padding-top: 4em;
  }

  to {
    padding-top: 0em;
  }
}
