.main-container {
  background-color: grey;
  // max-height: 100vh;
  min-height: 100vh;

  .row {
    min-height: 100vh;
  }

  .col-ball-selector {
    padding: 15px;
  }

  .col-bet-split {
    padding: 15px;
  }
}

.language-selector {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;

  .not-selected-lang {
    opacity: 1;
  }

  img {
    opacity: 0.5;
  }
}
