.container-selector-ball {
  background-color: white;
  height: 100%;
  display: block;


  h2:first-child {
    padding-top: 4em;
    margin-bottom: 1em;
  }

  .numbers-selectors {
    display: flex;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .win-bet {
    height: 100%;
    align-items: center;
    text-align: center;
    padding-top: 5em;
  }
}
