.container-selector-ball {
  background-color: white;
  height: 100%;
  display: block;

  .col-12:first-child {
    padding-top: 8em;
    margin-bottom: 1em;
  }

  .numbers-selectors {
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

  .win-bet {
    height: 100%;
    align-items: center;
    text-align: center;
  }
}
