.container-selector-ball {
  background-color: white;
  height: 100%;
  display: block;

  .col-12:first-child {
    padding-top: 8em;
    margin-bottom: 1em;
  }

  .col-clear-selection {
    display: flex;
    justify-content: center;
    color: #0d6efd;
    margin-top: 1em;
    font-size: 1.5em;
    p span {
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

  .numbers-selectors {
    display: flex;
    justify-content: center;
  }
}
