/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables.scss";

.ball-1{
  background-color: $color-ball-1;
}
.ball-2{
  background-color: $color-ball-2;
}
.ball-3{
  background-color: $color-ball-3;
}
.ball-4{
  background-color: $color-ball-4;
}
.ball-5{
  background-color: $color-ball-5;
}
.ball-6{
  background-color: $color-ball-6;
}
.ball-7{
  background-color: $color-ball-7;
}
.ball-8{
  background-color: $color-ball-8;
}
.ball-9{
  background-color: $color-ball-9;
}
.ball-10{
  background-color: $color-ball-10;
}


.col-clear-selection {
  display: flex;
  justify-content: center;
  color: #0d6efd;
  margin-top: 1em;
  font-size: 1.5em;
  p span {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}
