/* Colors */

$color-ball-1: red;
$color-ball-2: pink;
$color-ball-3: green;
$color-ball-4: pink;
$color-ball-5: yellow;
$color-ball-6: aquamarine;
$color-ball-7: red;
$color-ball-8: pink;
$color-ball-9: green;
$color-ball-10: pink;
